#title{
    color:#343332;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: solid;
}
#navbar{
    background-color:#00ff00;
}

.marker{
    transform: translate(-50%,-100%);
}
.popup{
    /* background-color:#00ff00; */
    width: 30vw;
    padding: 1rem;
}
.markerred{
    transform: translate(-50%,-100%);
}
.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.error{
    color:red;
}
.popup img {
    height: 200px;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
  }