#title{
    color:#070707;
    font-family: 'Lato', sans-serif;
} 

.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
    background-color: #20bf55;
    background-image :linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    
  }

.marker{
    transform: translate(-50%,-100%);
}
.popup{ 
    width: 50vw;
    padding: 1rem;
}
.markerred{
    transform: translate(-50%,-100%);
}
.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 1rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}

.error{
    color:red;
}
.popup img {
    height: 200px;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

body{
    background-color: rgb(223, 214, 214);
 
}
.mainimage{
    margin-top: 5rem;
    margin-left: 2rem;
    width: 20rem;
    height:20rem;
    display: inline-block;
}

.inline-block {
    display: inline-block;
 
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343332;
    color: white;
    text-align: center;
  }

  .count{
    background-color: #20bf55;
    background-image :linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    padding-left: 2rem;
  }
 